<!DOCTYPE HTML>
<head> 
    <title>WhichOne</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   <a href="https://github.com/l-o-b-s-t-e-r/which-one-server">Go to repository!</a>
</body>
</html>
